body {
	font-family: "sans-serif";
	font-size: 15px;
}

.emoteButtons {
	display: flex;
}

.emoteButtons__buttonContainer {
	position: relative;
	padding: 0 5px 0 0;
	margin-right: 5px;
}

.emoteButtons__buttonContainer button {
	border: 1px solid #e2e2e2;
	border-radius: 5px;
	background-color: #e2e2e2;
	height: 30px;
	min-width: 75px;
}

.emoteButtons__buttonContainer button:hover {
	border: 1px solid #333;
	background-color: #333;
	color: white;
}

.emoteButtons__buttonContainer button span {
	font-size: 0.9rem;
	background-color: #333;
	color: white;
	padding: 1px 3px;
	margin-left: 5px;
	border: 1px solid #333;
	border-radius: 4px;
}

/* Utility Classes */
.voted {
	background-color: #1678c2 !important;
	color: white;
	border: 1px solid #1678c2 !important;
}

.voted:hover {
	border: 1px solid #1678c2 !important;
}
